@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

.touch-responsive {
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: auto; 
}

.glowing-text {
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #f9d423, 0 0 10px #f9d423, 0 0 20px #f9d423, 0 0 30px #f9d423;
  }
  100% {
    text-shadow: 0 0 10px #f9d423, 0 0 20px #f9d423, 0 0 40px #f9d423, 0 0 60px #f9d423;
  }
}

.parallax {
  position: relative;
  height: 100vh; 
  overflow: hidden; 
  display: grid;
  grid-template-areas: "stack";
}

.parallax > * {
  grid-area: stack;
}

.parallax > img {
  width: 100%;
}

.parallax__stars {
  z-index: 2;
}

.parallax__planets {
  z-index: 3;
}

.parallax__sun {
  z-index: 4;
}

.parallax__mountain1 {
  z-index: 5;
}

.parallax__mountain2 {
  z-index: 6;
}

.parallax__crater {
  z-index: 7;
}

.parallax__content {
  z-index: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Description Box */
.description-box {
  height: auto;
  padding: 2rem;
  text-align: center;

}

.description-title {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
  font-size: 3rem; /* Adjust size as needed */
  font-weight: 700; /* Bold weight */
  color: #ffffff; /* White color */
  text-align: center;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3); /* Dim glow effect */
  margin-bottom: 1rem;
}

.description-text {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6;
}


@keyframes textRotate1 {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  50% {
    transform: rotateX(45deg);
    opacity: 0.8;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.animate-textRotate1 {
  animation: textRotate1 2s infinite ease-in-out;
}


.myprojects-title {
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
  font-size: 3rem; /* Adjust size as needed */
  font-weight: 700; /* Bold weight */
  color: #ffffff; /* White color */
  text-align: center;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3); /* Dim glow effect */
  margin-bottom: 2rem; /* Add spacing below the title */
}